
# Data folder  - keep tracking of the improvement 
/Data

# Sound folder  - will be done automatically for the first time
/Sound

# pycache
/__pycache__

# jupyter notebook
.ipynb_checkpoints


*.bat
*.pyc 
*.ipynb